footer{
  position: relative;
  bottom:0;
  height: auto;
  box-shadow: 0px 0 50px gray;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #1a1c26;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	/* font: bold 16px sans-serif; */
	padding: 50px 50px 60px 50px;
	
}


.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}



.footer-distributed h3{
	color:  #f0f0f0;
	margin: 0;
  font-size: 40px;
}



.footer-distributed h3 span{
	color:  #f0f0f0;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	/* margin: 20px 0 12px; */
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
    font-size: 13px;
}

.footer-distributed .footer-company-name{
	color:  #f0f0f0;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-right{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
	width: 10%;
  border: 1px solid white;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #f0f0f0;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #f0f0f0;
	font-size: 18px;
	/* font-weight: bold; */
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: rgba(26, 28, 38, 1);
	border-radius: 2px;
	font-size: 20px;
	color: #f0f0f0;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */



.footer-distributed .footer-right{
    display: block;
    width: 90%;
    /* margin-bottom: 40px; */
    text-align: center;
}

.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  white;
font-size: 13px;
}


@media only screen and (max-width: 963px) {
  .footer-distributed h3{
    font-size: 30px;
  }
  .footer-distributed .footer-links a{
        font-size: 19px;
  }
}

@media only screen and (max-width: 748px) {
  .footer-distributed h3{
    font-size: 25px;
  }
  .footer-distributed .footer-links a{
        font-size: 16px;
  }
}

@media only screen and (max-width: 426px) {
    .footer-distributed .footer-links2 a{
      font-size: 19px;
    }
      .footer-distributed .footer-links{
        display:show;
      }
}

@media only screen and (max-width: 360px) {
  #email{
    font-size: 15px;
  }
}

#email a{
  color:  #f0f0f0;
  text-decoration: none;
}



#copyright{
    font-size: 16px;
}

