body {
    font-family: 'Cutive Mono', monospace;    margin: 0;
    padding: 0;
    background-color: #FFF8E7;
    color: #333;
}

header{
    background-color: #500800;
    color: #FDFFFC;
    padding: 20px;
    text-align: center;
    opacity: 0.9;
    box-shadow:10px 10px 10px gray;
}

.flex{
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; 
    border: 1px solid white;
}

.text{
    margin: 10px;
    padding: 10px;

}

.profile{
    margin: 10px;
    padding: 10px;
}

section.top{
    padding: 2%;
    text-align: center;
   background-color: #FFF8E7;
    color: white;
}

section.hero {
    background-image: url('hero-bg.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: #FDFFFC;
    text-align: center;
    padding: 100px 20px;
}

.profile-pic{
    width: 150px; /* Adjust the width and height as needed */
    height: 150px;
    border-radius: 50%;
    overflow: hidden; 
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* p {
    font-size: 1.2em;
    margin-bottom: 40px;
} */

section.projects {
    padding: 40px 20px;
    text-align: center;
}

.project {
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.project-info {
    padding: 20px;
    background-color: #FDFFFC;
}

.project h3 {
    margin-top: 0;
}

footer {
    background-color: #343a40;
    color: #FDFFFC;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #090909;
    overflow: hidden;
    box-shadow: 20px 10px 20px 10px rgb(69, 25, 25); /* Add box shadow here */
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav a{
    float: left;
    /* display: block; */
    color: white;
    text-align: center;
    padding: 18px 26px;
    margin-top: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: #333;
    transition: .8s;
}

nav p{
    /* display: block; */
    float: left;
    text-align: center;
    padding: 0px 0px;
    margin-top: 26px;
    color: white;
}
.name{
    margin-left: 20px;
    display: flex;
    float: left;
}

.links{
    float: right;
    margin-right: 40px;
}
.menu-icon {
    display: none;
}

@media only screen and (max-width: 600px) {
    nav a {
        display: none;
    }

    .menu-icon {
        display: block;
        float: right;
        cursor: pointer;
        padding: 14px 16px;
    }

    .menu-icon:hover {
        background-color: #ddd;
    }

    .menu-items {
        display: none;
        clear: both;
    }

    .menu-items a {
        display: block;
    }
}


ul {
    list-style-type: '- ';
    text-align: left;
}
a{
    color:#FDFFFC;

}

.line{
   /* border: 1px solid #1a1c26;*/
   width: 65%;

}


#logo{
    height: 50px;
    padding: 10px;
    margin-right: 10px;
}

h2{
    color: white;
}
.about{
    display: block;
    padding: 30px;
    text-align: center;
}
.about div{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.pages{
    text-align: center;
}
.card{
    width: 30%; /* Adjust the width as needed */
    height: 350px;
    display: inline-block;
    /* background-color:#1a1c26; */

    text-align: center;
    /* padding: 15px; */
    border: 1px solid #500800;
    border-radius: 10px 10px;
    box-shadow:10px 0px 10px gray;


}

.card h2,a{
color:white;
}
.card button{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    transition: .6s;
    background-color: #1a1c26;
    color: white;
    /* border-radius: 10px 10px; */
padding: 3px;;
}
.card button:hover{
    cursor: pointer;
    color: #1a1c26;
    background-color: white;
}
.card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom:1px solid #500800;
}

.card_text{
    padding: 15px;
}

#copyright{
    font-size: 16px;
}