body {
    font-family: 'Cutive Mono', monospace;    margin: 0;
    padding: 0;
    background-color: #FDFFFC;
    color: #333;
}

header{
    background-color: #4A7856;
    color: #FDFFFC;
    padding: 20px;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; 
}

.text{
    margin: 10px;
    padding: 10px;

}

.profile{
    margin: 10px;
    padding: 10px;
}

section.top{
    padding: 2%;
    text-align: center;
    background-color: #07004D;
    color: #FDFFFC;
}

section.hero {
    background-image: url('hero-bg.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: #FDFFFC;
    text-align: center;
    padding: 100px 20px;
}

.profile-pic{
    width: 150px; /* Adjust the width and height as needed */
    height: 150px;
    border-radius: 50%;
    overflow: hidden; 
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

section.projects {
    padding: 40px 20px;
    text-align: center;
}

.project {
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.project-info {
    padding: 20px;
    background-color: #FDFFFC;
}

.project h3 {
    margin-top: 0;
}

footer {
    background-color: #343a40;
    color: #FDFFFC;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #523F38;
    overflow: hidden;
    box-shadow: 0 4px 2px -2px gray; /* Add box shadow here */
}

nav a {
    float: left;
    display: block;
    color: #FDFFFC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: #333;
}

.menu-icon {
    display: none;
}

@media only screen and (max-width: 600px) {
    nav a {
        display: none;
    }

    .menu-icon {
        display: block;
        float: right;
        cursor: pointer;
        padding: 14px 16px;
    }

    .menu-icon:hover {
        background-color: #ddd;
    }

    .menu-items {
        display: none;
        clear: both;
    }

    .menu-items a {
        display: block;
    }
}


ul {
    list-style-type: '- ';
    text-align: left;
}
a{
    color:#FDFFFC;

}